botoy
pydantic==1.10.13
apscheduler
aiofiles
numpy
Pillow
pytz
python-dateutil
requests
wordcloud
jinja2
werkzeug
jieba
paddlepaddle
croniter
atproto
google-api-python-client
bilibili-api-python
aiohttp
curl_cffi
httpx>=0.27.0
twikit==2.3.3